footer {
	min-height: 6em;
	background-color: #343a40;
	color: #fff;
	padding: 2em;
	font-size: x-large;
}

footer a {
	color: rgba(255,255,255,.5);
}

footer a:hover {
	color: rgba(255,255,255,.7);
}

h1 {
	font-size: 54px;
	padding-top: 1em;
	padding-bottom: 1em;
}

img {
	width: 100%;
	height: auto;
}

input {
	width: 100%;
	border: 0;
	outline: 0;
	border-bottom: 2px solid slategrey;
	background: none;
	color: slategrey;
	font-size: x-large;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 1em;
}

p {
	padding: 2em;
	font-size: x-large;
}

#band-name {
	font-size: 4em;
}

.about {
	background-color: gainsboro;
	margin-bottom: 0em;
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: x-large;
}

.content {
	margin-top: 6em;
}

.hidden {
	display: none;
}

.metrics-container {
	font-size: x-large;
}

.nav-item {
	display: flex;
}
